
section {
  background-color: #40B9D1;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  width: 80%;
  margin: auto;
  max-width: 900px;
  font-size: 150%;
}
.start {
  color: #40B9D1;
  margin: 10px 0 10px 12%;
}
.icon {
  float: right;
  padding: 0px 0% 0px 0px;
  position: relative;
  top: -42pt;
}
header i:hover {
  background-color: #40B9D1;
  color: white;
}
header i {
  margin-right: 3px;
  color: #40B9D1;
  border: 3px solid #40B9D1;
  border-radius: 50%;
  padding: .2em .25em .15em;
}
.menu {
  border-bottom: 5px solid #40B9D1;
}
.menu li {
  margin-left: 5%;
  position: relative;
  left: 90px;
  display: inline;
  color: grey;
  padding: 0 0 0 0;
}
.menu li:hover {
  color: #40B9D1;
}
.submenu{
  display: block;
  

}
.menu > li .submenu {

}

@media (max-width: 1048px) {

}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .icon {
    float: none;
    padding: 10px 0 10px 14%;
    text-align: center;
    top: 0;
  }
}
