

section {
  background-color: #40B9D1;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  margin: 50px 0 80px 0;
}
.start {
  color: #40B9D1;
  margin: 10px 0 10px 12%;
}
.icon {
  float: right;
  padding: 10px 120px 10px 10px;
  color: #40B9D1;
}
header i {
  margin-right: 3px;
  border: 3px solid #40B9D1;
  border-radius: 50%;
  padding: .2em .25em .15em;
}
h3 {
  border-bottom: 1px solid white;
  background: #40B9D1;
  color: white;
  width: 50%;
  margin: 0 15% 0 40%;
}
p {
  border-left: 6px solid #40B9D1;
  background: #40B9D1;
  color: white;
  width: 50%;
  margin: 0 15% 0 40%;
}
